/tiposDeDatosPrimitivos/nbproject/private/
/tiposDeDatosPrimitivos/build/
/ejerciciosDeJavaPOO/nbproject/private/
/ejerciciosDeJavaPOO/build/
/ejecutarTriangulos/nbproject/private/
/ejecutarTriangulos/build/
