/tiposDeDatosPrimitivos/nbproject/private/
/tiposDeDatosPrimitivos/build/
/ejerciciosDeJavaPOO/nbproject/private/
/ejerciciosDeJavaPOO/build/
/ejecutarTriangulos/nbproject/private/
/ejecutarTriangulos/build/
/archivos/nbproject/private/
/archivos/build/
/archivosParteDos/nbproject/private/
/archivosParteDos/build/
/archivosBuffer/nbproject/private/
/archivosBuffer/build/
