/tiposDeDatosPrimitivos/nbproject/private/
/tiposDeDatosPrimitivos/build/
/ejerciciosDeJavaPOO/nbproject/private/
/ejerciciosDeJavaPOO/build/
/ejecutarTriangulos/nbproject/private/
/ejecutarTriangulos/build/
/archivos/nbproject/private/
/archivos/build/
/archivosParteDos/nbproject/private/
/archivosParteDos/build/
/archivosBuffer/nbproject/private/
/archivosBuffer/build/
/archivosbufferByte/nbproject/private/
/archivosbufferByte/build/
/archivosBufferEjercicio/nbproject/private/
/archivosBufferEjercicio/build/
/archivosBufferEjercicioCaracteres/nbproject/private/
/archivosBufferEjercicioCaracteres/build/
/ejemplosRecursividad/nbproject/private/
/ejemplosRecursividad/build/
/ejecutarHumano/nbproject/private/
/ejecutarHumano/build/
